extends layout

block content
  h1=title

  if user 
    p Already signed in as #{user.email}
  form(method='POST')
    div.form-group 
      label(for="first_name") First Name:
      input#first_name.form-control(type='text', placeholder='First Name' name='first_name' required value=(undefined===user ? '' : user.first_name))
    div.form-group
      label(for="family_name") Family Name:
      input#family_name.form-control(type='text', placeholder='Family Name' name='family_name' required value=(undefined===user ? '' : user.family_name))
    div.form-group
      label(for="email") Email: 
      input#email.form-control(type='email' placeholder='Email' name='email' required value=(undefined===user ? '' : user.email))
    div.form-group
      label(for="password") Password: 
      input#password.form-control(type='password' placeholder='Password' name='password' required)
    div.form-group
      label(for="confirm_password") Confirm Password: 
      input#confirm_password.form-control(type='password' placeholder='Confirm Password' name='confirm_password' required)
    button.btn.btn-primary(type='submit') Submit
  hr
  if errors
    ul
      for error in errors
        li!= error.msg
